*{
    margin: 1;
    padding: 1;
    box-sizing: border-box;
}

body {
    background: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.chart {
    padding: 2rem;
    border: 1px solid #f49131;
    border-radius: 1rem;
    background: #251c35;
    box-shadow: 0 0 16px rgba(red, green, blue, alpha);
}